<%- include('layout/header'); -%>
<%- include('partials/nav'); -%>
<main class="py-4">
    <div class="container">
    	<h1 class="text-muted">About</h1>
    	<div class="row">
    		<div class="col-sm-4 col-12">
				<div class="card">
					<img src="img/profil.png" alt="profil" class="card-img">
				</div>
    		</div>
    		<div class="col-sm-8 col-12">
    			<div class="card">
		    		<div class="card-header">
		    			<h4 class="card-title mb-0">@KByteGt</h4>
		    		</div>
		    		<div class="card-body">
		    			<form>
		    				<div class="form-group">
			    				<label for="nombre">Programador</label>
			    				<input type="text" id="nombre" class="form-control" placeholder="José Daniel López Gonzalez" readonly>
			    			</div>
			    			<div class="form-group">
			    				<label for="carnet">Carnet</label>
			    				<input type="text" class="form-control" id="carnet" placeholder="201503836" readonly>
			    			</div>
		    			</form>

		    		</div>
		    		<div class="card-footer d-flex align-items-center">
		    			<i class="material-icons">linkn</i>
		    			<a href="https://github.com/JDByte01">Github</a>
		    		</div>
		    	</div>
    		</div>
    	</div>
    </div>
</main>
<%- include('layout/footer'); -%>