<%- include('layout/header'); -%>
<%- include('partials/nav'); -%>
<main class="py-4">
    <div class="container">
      <h1 class="text-muted">About</h1>
      <h2>José Daniel López Gonzalez</h2>
    </div>
</main>
<%- include('layout/footer'); -%>