<%- include('layout/header'); -%>
<%- include('layout/nav'); -%>

    <div class="container">
      <h1 class="text-muted">Hello, world!</h1>
      <h2>Titulos 2</h2>
    </div>
<%- include('layout/footer'); -%>
