<!doctype html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%= title%></title>
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body class="bg-with">
        <div id="app" class="d-flex flex-column h-screen justify-content-between">